body {
      font-family: Roboto;
      background-color: #E9E9E9;
    }
    h1 {
      font-weight: 900;
    }
    li {
      margin: 40px;
    }
    #div {
      width: 100%;
      top-margin: 0;
      padding: 20px;
      background-color: white;
    }
    #title {
      margin: auto;
      width: 100%;
      padding: 10px;
      text-align: center;
      background-color: #E9E9E9;
    }
    #picture {
      background-color: white;
      margin: auto;
      width: 99%;
      border-radius: 5px;
    }
    .padded-figure {
      padding-bottom: 15px;
    }
    .fit-img {
      margin: auto;
      height: 40em;
      width: auto;
      padding: 10px;
      display: flex;
      align-items:center;
    }
    .center-caption {
      text-align: center;
      font-weight: 300;
    }
    .center-text {
      text-align: center;
      position: relative;
      top: 20px;
    }
    .center {
      margin-left: 34%;
    }
    #list {
      position: relative;
      top: 20px;
    }
    #bottom-par {
      padding-bottom: 9em;
    }
